html{
    overflow-x: hidden;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #3c099b;
    overflow-x: hidden;
}
/*----------TITULOS Y TEXTOS----------*/
h1, h2, h3, h4, h5, p{
    font-family: "M PLUS Rounded 1c", sans-serif;
    color: #fff;
    margin: 5px;
}
h1{
    font-size: 35px;
}
p{
    font-weight: 600;
    color: #fff;
    margin: 5px;
}
ul>li{
    color: #fff;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
}
/*-----IMAGENES Y ANIMACIONES-----*/
.imgicon{
    width: 250px;
    height: 250px;
    margin: 10px;
    border-radius: 60%;
    box-shadow: 0px 0px 20px #000;
    animation-name: imgexpoanimation;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
@keyframes imgexpoanimation{
    0% {transform: scale(1);}
    100% {transform: scale(0.9);}
}
.imgredessociales{
    width: 40px;
    height: 40px;
    margin: 5px;
    cursor: pointer;
}
.imginvitado{
    width: 350px;
    height: fit-content;
    margin: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #000;
    animation-name: invitadoshake;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}
.imginvitado:hover{
    cursor: pointer;
}
@keyframes invitadoshake{
    0% {transform: rotate(5deg);}
    100% {transform: rotate(-5deg);}
}
@media (max-width: 500px){
    .imginvitado{
        width: 220px;
    }
}
.imgcosplayer{
    width: 90%;
    height: fit-content;
    margin: 5px;
    object-fit: contain;
    border-radius: 10px;
}
.imgcolab{
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin: 10px;
    border-radius: 50%;
}
/*----------MAIN----------*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*----------CONTENIDO DE LA PAGINA----------*/
header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-bottom: 10px;
    background-image: url('img/fondo2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.containerhead1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}
.containerhead2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
.btnhead{
    width: 200px;
    height: 40px;
    margin: 10px;
    border-radius: 30px;
    background-color: #f5b727;
    border: #fff solid 2px;
    transition: 0.4s ease-in-out;
}
.btnhead:hover{
    background-color: #c827f5;
    cursor: pointer;
}
.containerhead2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
/*-----------CONTENEDOR REDES SOCIALES----------*/
.containerredessociales{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #fff solid 1px;
    border-radius: 30px;
}
/*----------CONTENEDOR QUE ENCONTRARAS----------*/
.container4novedades{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
.queencontrarascard{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 300px;
    height: fit-content;
    margin: 10px;
    padding: 0px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 5px 5px 20px #000;
}
.imgqueencontraras{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 10px;
}
/*----------CONTENEDOR INVITADOS-----------*/
.containerinvitados{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
}
.imginvitadosespeciales{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    position: relative;
}
.iconabsolute1{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute1;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute1{
    from {transform: translate(0px);}
    to {transform: translate(250px, 200px);}
}
.iconabsolute2{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute2;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute2{
    from {transform: translate(0px);}
    to {transform: translate(250px, -200px);}
}
.iconabsolute3{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute3;
    animation-timing-function: ease-in-out;
    animation-duration: 2.2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute3{
    from {transform: translate(0px);}
    to {transform: translate(-250px, 200px);}
}
.iconabsolute4{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute4;
    animation-timing-function: ease-in-out;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute4{
    from {transform: translate(0px);}
    to {transform: translate(-250px, -200px);}
}
.iconabsolute5{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute5;
    animation-timing-function: ease-in-out;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute5{
    from {transform: translate(0px);}
    to {transform: translate(-250px, 80px);}
}
.iconabsolute6{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: -1;
    animation-name: absolute6;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-delay: 0;
}
@keyframes absolute6{
    from {transform: translate(0px);}
    to {transform: translate(350px, 50px);}
}
.iconcorazon{
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: -1;
    animation-name: puls;
    animation-timing-function: ease-in-out;
    animation-duration: 0.3s;
    animation-iteration-count: 10;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    opacity: 80%;
}
@keyframes pulse{
    from {transform: scale(1);}
    to   {transform: scale(1.5);}
}
/*----------CONTENEDOR DE ORGANIZADORES----------*/
.containerorganizadores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: linear-gradient(90deg, #642b73, #3a6186);
}
.containercosplayers{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: fit-content;
    margin: 10px;
    background: linear-gradient(90deg, #3a6186, #642b73);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.containercosplayers:hover{
    box-shadow: 0px 0px 20px #f6ff9a;
}
/*----------CONTENEDOR DE HORARIOS----------*/
.containerhorarios{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
.containersabado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}
.containerdomingo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin: 10px;
}
/*----------CONTENEDOR DE REGISTRO----------*/
.containerregistrate{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
.registratecard1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
.btnregistrate{
    width: 100%;
    height: 40px;
    margin: 10px;
    background-color: #f5b727;
    border: #fff solid 2px;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.registratecard2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
.registratebases{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}
/*----------CONTENEDOR COLABORADORES O PATROCINADORES----------*/
.containerpatrocinadores{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}
/*----------FOOTER FINAL PAGE----------*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100px;
    background-image: url('img/fondo2.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}